.slider-container{
    height: 600px;
    width: calc(80% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slider-image > img{
    height: 400px;
    width: auto;
}
@media screen and(max-width: 600px){
    .slider-container{
        height: 600px;
        width: calc(90% - 20px);
    }
    .slider-image > img{
        height: 300px;
    }
}
@media screen and (max-width: 460px){
    .slider-container{
        height: 500px;
    }
    .slider-image > img{
        height: 250px;
    }
}
@media screen and (max-width: 375px){
    .slider-container{
        height: 400px;
    }
    .slider-image > img{
        height: 220px;
    }
}