@keyframes DescribeGoingIn{
    100%{
        width: calc(80% - 620px);
        padding: 10px;
    }
}
@keyframes DescribeResponsive{
    100%{
        width: calc(80% - 220px);
        padding: 0px 10px;  
    }
}
@keyframes DescribeResponsiveMedium{
    100%{
        width: calc(80% - 200px); 
    }
}
@keyframes DescribeResponsiveSmall{
    100%{
        width: calc(100% - 300px); 
    }
}
@keyframes DescribeResponsiveXSmall{
    100%{
        width: calc(100% - 100px);
    }
}

.welcome-header{
    font-family: "Oswald",sans-serif;
    font-size: 2.9em;
    padding: 10px;
    width: calc(100% - 20px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.describe-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.reverse-picture,.short-describe,.fugger-picture-container{
    display: inline-block;
}
.short-describe{
    height: 404px;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    padding: 0px;
    vertical-align: top;
    text-align: center;
    animation-name: DescribeGoingIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fugger-picture-container{
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Albrecht_D%C3%BCrer_080.jpg/300px-Albrecht_D%C3%BCrer_080.jpg");
    background-size: cover;
    width: 300px;
    height: 424px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}
.reverse-picture{
    transform: scaleX(-1);
}

.first-text{
    margin-bottom: 40px;
}
@media screen and (max-width: 1200px){
    .describe-container{
        margin-bottom: 80px;
    }
    .first-text{
        margin-bottom: 40px;
    }
    .text-container{
        margin: 0;
    }
    .short-describe{
        height: 265px;
        animation-name: DescribeResponsive;
        font-size: 0.8em;
    }
    .fugger-picture-container{
        width: 187px;
        height: 265px;
    }
}
@media screen and (max-width: 870px){
    .short-describe{
        height: 212px;
        animation-name: DescribeResponsiveMedium;
    }
    .fugger-picture-container{
        width: 150px;
        height: 212px;
    }
    .first-text{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 637px){
    .first-text{
        margin-bottom: 0;
    }
    .short-describe{
        font-size: 0.7em;
        padding: 2px;
    }
}
@media screen and (max-width: 530px){
    .fugger-picture-container{
        width: 120px;
        height: 170px;
    }
    .short-describe{
        height: 170px;
        animation-name: DescribeResponsiveSmall;
    }
}
@media screen and (max-width: 486px){
    .ifNotTooSmall{
        display: none;
    }
    .fugger-picture-container{
        width: 40px;
        height: 57px;
    }
    .short-describe{
        animation-name: DescribeResponsiveXSmall;
    }
}
@media screen and (max-width: 400px){
    .welcome-header{
        font-size: 2.2em;
    }
}